<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109124003133-8li0fcnhlhsidjukbsjldf69eniip7vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109124003133-8li0fcnhlhsidjukbsjldf69eniip7vd</string>
	<key>API_KEY</key>
	<string>AIzaSyDBy1_IGDPTh446BFj2luM68e3ZOVlbAsY</string>
	<key>GCM_SENDER_ID</key>
	<string>109124003133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ukihome.panda-wordchanger.dev</string>
	<key>PROJECT_ID</key>
	<string>panda-platform-dev-939c7</string>
	<key>STORAGE_BUCKET</key>
	<string>panda-platform-dev-939c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109124003133:ios:b00756ed22eca1c2e21154</string>
</dict>
</plist>